<!DOCTYPE html>
<html>
<head>
	<title>InstaSearch</title>
	<link rel = 'stylesheet' href = './styles/styles.css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-app='app' ng-controller='searchCtrl'>
	
	<div class = 'navbar navbar-default navbar-fixed-top'>
		<div class = 'inner'>
			<form novalidate name="mainForm" ng-submit="submit()" class="form-inline">
				<span class="messages">{{message}}</span>
				<div class = 'right'>
					<input autofocus required type="text" class="form-control text" name="tagInput" ng-model="tempData.tag" placeholder="#" >
					<input id="submitButton" class="btn btn-primary" type="submit">
				</div>
			</form>
		</div>
	</div>


<!-- 	<div class = 'messageDiv'>
		{{message}}
	</div> -->

	<br><br>

	<div id="imagesDiv">
		<span ng-class="image" ng-if="gotResults" ng-repeat="image in images">
			<a href="{{image.link}}" target="_blank">
				<img ng-src="{{image.images.low_resolution.url}}" alt="Posted by: {{image.user.full_name}}" class="image-responsive">
			</a>
		</span>
	</div>



</body>
<script text="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular-animate.min.js"></script>
<script type="text/javascript" src="./client/app.js"></script>
<html>




