<!DOCTYPE html>
<html>
<head>
	<title>InstaSearch</title>
	<link rel = 'stylesheet' href = './styles/styles.css'>
</head>
<body ng-app='app' ng-controller='searchCtrl'>
	
	<div class = 'middle'>
		<form novalidate name="mainForm" ng-submit="submit()">
			<input autofocus required type="text" name="tagInput" ng-model="tempData.tag" placeholder="#" >
			<input id="submitButton" type="submit">
		</form>
	</div>

	<div class = 'messageDiv'>
		{{message}}
	</div>

	<div id="imagesDiv" class="middle">
		<span ng-class="images" ng-if="results" ng-repeat="image in images">
			<a href="{{image.link}}" target="_blank">
				<img ng-src="{{image.images.low_resolution.url}}" alt="Posted by: {{image.user.full_name}}" class="images">
			</a>
		</span>
	</div>



</body>
<script type="text/javascript" src="./client/app.js"></script>
<script text="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.13/angular-animate.min.js"></script>
<html>




