body {
  height: 100%; 
  width: 100%;
}

.navbar {
  height: 52px;
  padding-left: 30px;
  padding-right: 30px;
}

.image-responsive {
  width: 220px;
  height: 220px;
  margin: 1.5%;
  margin-bottom: 2%;
  border: 1px solid #e1e1e1;
}

.image-responsive:hover{
  box-shadow: 0 0 10px black;
}

#imagesDiv {
  width: 100%;
  overflow-y: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; 
  padding-top: 30px;
  padding-bottom: 20px;
}

